.section_header {
    background:#fff;
    height:8vh;
    width:100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 2px 1px 6px 1px rgba(0, 0, 0, 0.2);
    position:sticky;
    top:0;
    z-index:10;
}

.section_footer {
    height:8vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #181818;
    position:relative;
    bottom:0;
}

.copy {
    line-height:1;
    font-weight: 500;
    margin:.5rem 0 0;
    font-size: 1.2rem;
    color:#fff;
}

.subparagraph {
    line-height: 1.5;
    font-size:.7rem;
    margin-bottom:1rem;
    color:#fff;
}